
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}




<button id="loginSaatveSaat" class="btn btn-lg btn-success btn-block"  value="Login" type="Submit" style="width:500px!important;margin:20px;">Giriş Yap</button>
<button id="signinSaatveSaat" disabled="true" class="btn btn-lg btn-success btn-block" value="Login" type="Submit" style="width:500px!important;margin:20px;">Üye Ol</button>

