@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="errorSaatveSaat" style="text-align:center">

    <div class="code">@ViewBag.statuscode</div>
    <div class="message">@ViewBag.message</div>
</div>


