@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SAAT VE SAAT</h1>
    <p class="lead">HOŞGELDİNİZ ...</p>
    <p><a href="/SaatveSaat/Markalar" class="btn btn-primary btn-success">Markaları Gör &raquo;</a></p>
</div>